<div class="heading ">ADDITIONAL SERVICES</div>

<div class="row ">
  <div class="row__item row__one-to-three row__two-to-four-sm">
    <a href="services-context.html">
    <div class="services-item" >


      <div class="services-item__body">
        <div class="services-item__body-actions">
        <img src="imgsvg/adamwords.svg" alt="" class="flat-icons">
        <div class="services-item__heading clear">
          <div class="services-item__heading-text"><h2>Contextual ads</h2></div>
        </div>
        <div class="services-item__text-wrapper">
          <p class="services-item__text">
            We organize a wide stream of new customers through search engines.
          </p>
        </div>

        </div>


      </div>
    </div>
    </a>
  </div>

  <div class="row__item row__one-to-three row__two-to-four-sm">
    <a href="services-blogadvertising.html">
    <div class="services-item" >


      <div class="services-item__body">
        <div class="services-item__body-actions">
        <img src="imgsvg/adamblog.svg" alt="" class="flat-icons">
        <div class="services-item__heading clear">
          <div class="services-item__heading-text"><h2>Blogs and Vlogs ads</h2></div>
        </div>
        <div class="services-item__text-wrapper">
          <p class="services-item__text">
            The blogosphere is huge. As well as the huge opportunities for advancement that it provides.
          </p>
        </div>
        </div>

      </div>
    </div>
    </a>
  </div>

  <!--

  <div class="row__item row__one-to-four row__two-to-four-sm">
    <a href="services-cpa.html">
    <div class="services-item" >


      <div class="services-item__body">
        <div class="services-item__body-actions">
        <img src="imgsvg/cpa.svg" alt="" class="flat-icons">
        <div class="services-item__heading clear">
          <div class="services-item__heading-text"><h2>CPA Networks</h2></div>
        </div>
        <div class="services-item__text-wrapper">
          <p class="services-item__text">
            We attract clients through the system, where you pay only for the targeted action.
          </p>
        </div>
        </div>
        <div class="services-item__body-sub-text">
          <i class="fa fa-clock-o" aria-hidden="true"></i> 5-15 дней
        </div>

      </div>
    </div>
    </a>
  </div>

  <div class="row__item row__one-to-four row__two-to-four-sm">
    <a href="services-socialadvertising.html">
    <div class="services-item">


      <div class="services-item__body">
        <div class="services-item__body-actions">
        <img src="imgsvg/adamsocial.svg" alt="" class="flat-icons">
        <div class="services-item__heading clear">
          <div class="services-item__heading-text"><h2>Social networks</h2></div>
        </div>
        <div class="services-item__text-wrapper">
          <p class="services-item__text">
            An incredibly flexible promotion tool, to attract exactly the target audience through social networks.
          </p>
        </div>
        </div>
        <div class="services-item__body-sub-text">
          <i class="fa fa-clock-o" aria-hidden="true"></i> 30-60 дней
        </div>

      </div>
    </div>
    </a>
  </div>

  -->

  <div class="row__item row__one-to-three row__two-to-four-sm">
    <a href="services-seo.html">
    <div class="services-item"   >


      <div class="services-item__body">
        <div class="services-item__body-actions">
        <img src="imgsvg/ceo.svg" alt="" class="flat-icons">
        <div class="services-item__heading clear">
          <div class="services-item__heading-text"> <h2>SEO</h2></div>
      </div>
        <div class="services-item__text-wrapper">
          <div class="services-item__text">
            Wisdom comes with experience. Let us apply all our experience, for the most effective promotion of your site in the search engines.
          </div>
        </div>
        </div>


      </div>
    </div>
    </a>
  </div>

</div>
