<div class="nav-wrapper">

  <div class="nav">
    <ul class="nav__inner">
      <li class="nav__item nav__item_active"><a class="nav__item-link " href="index.html" link-data="Главная" href="#"><span class="nav__item-link-text">Home</span> <i class="fa fa-home" aria-hidden="true"></i></a></li>
      <li class="nav__item"><a class="nav__item-link" link-data="Услуги" href="services.html"><span class="nav__item-link-text">Services</span> <i class="fa fa-cog" aria-hidden="true"></i></a></li>
      <!--<li class="nav__item"><a class="nav__item-link" link-data="Наши работы" href="work.html"><span class="nav__item-link-text">Our works</span> <i class="fa fa-book" aria-hidden="true"></i></a></li>-->
      <!--
      <li class="nav__item"><a class="nav__item-link" link-data="Блог" href="blog.html"><span class="nav__item-link-text">Блог</span> <i class="fa fa-newspaper-o" aria-hidden="true"></i></a></li>

      <li class="nav__item"><a class="nav__item-link" link-data="Вакансии" href="vacancies.html"><span class="nav__item-link-text">Career</span> <i class="fa fa-users" aria-hidden="true"></i></a></li>
    -->
      <li class="nav__item"><a class="nav__item-link" link-data="Контакты" href="contacts.html"><span class="nav__item-link-text">Contacts</span> <i class="fa fa-address-book" aria-hidden="true"></i></a></li>
     
    </ul>
  </div>
</div>
