<div class="content-hover"></div>

<div class="popups">
  <div class="close-pop-up-b"><i class="fa fa-times" aria-hidden="true"></i></div>
  <div id="questions" class="popup popup_style">
    <div class="heading">Connect with us</div>

    <div class="paddings text_center">Please, fill in all fields</div>

    <div class="row min-width-mobile ">
        <div class="row__item row__one-to-three">
          <input class="input" name="name" placeholder="Name" type="text">
        </div>
        <div class="row__item row__one-to-three">
          <input class="input" name="name" placeholder="Phone" type="text">
        </div>
        <div class="row__item row__one-to-three">
          <input class="input" name="name" placeholder="E-mail" type="text">
        </div>
        <div class="row__item row__one-to-one">
          <input class="input" name="name" placeholder="Comment" type="text">
        </div>
      </div>
      <input class="button_jussy margin-center" type="submit" value="Send">

      <div class="paddings text_small text_center">Per Aspera ad Astra</div>
  </div>
</div>

<link async rel="stylesheet" href="css/main.css">

<script src="js/main-min.js"></script>
